body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #87cefa, #f0f8ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 70px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

h2 { margin-bottom: 25px; color: #333; font-size: 2rem; }

.input-section { display: flex; gap: 15px; margin-bottom: 20px; }

.input-section input {
  flex: 1; padding: 12px 15px; font-size: 16px;
  border: 1px solid #ccc; border-radius: 10px; outline: none;
}

.input-section button {
  padding: 12px 20px;
  background-color: #009703;
  color: white; border: none; border-radius: 10px; cursor: pointer;
}

.input-section button:hover { background-color: #94df98; }

#errorMsg { color: red; font-weight: bold; margin-bottom: 10px; }

.weather-display h3, .weather-display p {
  margin: 10px 0; color: #333; font-size: 1.1rem;
}
